type sysfs_bln, fs_type, sysfs_type;
type sysfs_keypad, fs_type, sysfs_type;
type wifi_efs_file, file_type;
type geomagneticd_data_file, file_type, data_file_type;
