allow mediaserver camera_prop:property_service set;
allow mediaserver shell_data_file:dir search;
allow mediaserver camera_device:dir search;
allow mediaserver camera_socket:sock_file write;
allow mediaserver mnt_user_file:dir search;
allow mediaserver storage_file:dir search;
allow mediaserver storage_file:lnk_file read;
allow mediaserver system_file:file execmod;
