allow mm-qcamerad qdsp_device:chr_file { open read ioctl };
allow mm-qcamerad mpctl_socket:sock_file write;
allow mm-qcamerad mpdecision:unix_stream_socket connectto;

allow mm-qcamerad graphics_device:dir search;
allow mm-qcamerad graphics_device:chr_file { open read write ioctl };
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket0";
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket1";
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket2";
allow mm-qcamerad system_data_file:dir { add_name remove_name write };
allow mm-qcamerad system_file:file execmod;
