allow mpdecision system_file:file execmod;

type_transition mpdecision socket_device:sock_file mpctl_socket;

allow mpdecision socket_device:dir add_name;

allow mpdecision system_data_file:dir rw_dir_perms;
type_transition mpdecision system_data_file:file mpctl_data_file;

allow mpdecision sysfs_devices_system_cpu:file rw_file_perms;
allow mpdecision sysfs:file rw_file_perms;

binder_use(mpdecision)
