allow system_server efs_file:dir search;
allow system_server efs_file:file r_file_perms;
allow system_server sysfs_bln:dir search;
allow system_server sysfs_bln:file rw_file_perms;
allow system_server sysfs_bln:lnk_file read;
allow system_server recovery_cache_file:dir { relabelfrom create_dir_perms };
allow system_server recovery_cache_file:file { relabelfrom create_file_perms };
allow system_server persist_file:dir { getattr read write };
allow system_server time_daemon:unix_stream_socket connectto;
allow system_server system_file:file execmod;
allow system_server sysfs_keypad:file rw_file_perms;
