type thermald, domain;
type thermald_exec, exec_type, file_type;
init_daemon_domain(thermald)

allow thermald qmuxd:unix_stream_socket connectto;
allow thermald qmuxd_socket:dir w_dir_perms;
allow thermald qmuxd_socket:sock_file create_file_perms;
allow thermald self:capability { net_admin chown fsetid dac_override };
allow thermald self:netlink_kobject_uevent_socket { read bind create setopt };
allow thermald system_file:file execmod;
allow thermald self:socket { create ioctl read write };
allow thermald smem_log_device:chr_file rw_file_perms;
allow thermald socket_device:dir { write add_name };
allow thermald socket_device:sock_file { create setattr };
allow thermald sysfs_mpdecision:file rw_file_perms;
allow thermald sysfs_thermal:dir r_dir_perms;
allow thermald sysfs_thermal:file rw_file_perms;
allow thermald sysfs_devices_system_cpu:file rw_file_perms;
allow thermald sysfs:file rw_file_perms;
