allow thermal-engine self:capability { chown net_admin };
allow thermal-engine self:netlink_kobject_uevent_socket { bind read setopt };
allow thermal-engine system_file:file execmod;
allow thermal-engine sysfs_devices_system_cpu:file rw_file_perms;
allow thermal-engine sysfs:file rw_file_perms;
allow thermal-engine thermal_socket:sock_file { unlink };

#Label the thermal sockets correctly
type_transition thermal-engine socket_device:sock_file thermal_socket;
#Allow creation of the sockets in the socket dir
allow thermal-engine socket_device:dir { write add_name remove_name };
