allow time_daemon system_app:dir search;
allow time_daemon system_file:file execmod;
allow time_daemon system_server:dir search;
allow time_daemon system_server:file { open read };
allow time_daemon time_data_file:file { getattr append };
r_dir_file(time_daemon, system_app);
